<script>
    var self = this;
        $("#grid").kendoGrid({
            dataSource: {
                data: App.gridData,
                schema: {
                    models: {
                        fields: {
                            id: { type: "number" },
                            description: { type: "string" },
                            name: { type: "string", validation: { required: true} }
                        }
                    }
                },
                pageSize: 20
            },
            height: 430,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [
                {
                    field: "name",
                    title: "Department",
                    width: 120
                },
                {
                    field: "description",
                    title: "Description",
                    width: 160
                },
                {
                    field: "date",
                    title: "Create Date",
                    width: 80,
                    template: function(item){
                        return new Date(item.date).toLocaleString();
                    }
                },
                {
                    width: 80,
                    template:function(items){
                        return '<button  type="button" data-id="' + items.id + '" ' +
                                'class="glyphicon glyphicon-edit btn btn-sm btn-info btn-edit-record">' +
                                '</button>' +
                                '&nbsp;' +
                                '<button data-id="' + items.id + '" type="button" ' +
                                'class="glyphicon glyphicon-remove btn btn-sm btn-danger btn-delete-item"></button>';

                    }
                }
            ],
            editable: "inline"
        });
</script>