@import url(http://fonts.googleapis.com/css?family=Ewert);
@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);
body{
    background: url('../img/brickwall_@2X.png');
    height: 100%;
}
.main-menu{
    padding-left: 0;
    list-style-type: none;
}
.main-menu a{
    margin: 5px 0;
}
.employees-list{
    margin-top: 25px;
}
.filter-aria{
    display: block;
    margin-bottom: 15px;
    margin-top: -10px;
}

#add-new{
    margin-bottom:  15px;
}
.datepicker.dropdown-menu{
    z-index: 2000;
}
.login-page{
    position: relative;
    margin-top: 10%;
}
.login-page  h2, h3{
    font-family: 'Ewert', cursive;
}
.login-page  h2{
    padding-bottom: 8px;
}
.login-form label, button {
    font-family: 'Vast Shadow', cursive;
}
.btn-login{
    color: #000000;
}
.btn-logout{
    position: absolute;
    right: 0;
    top: 10px;
}
.authorizedAs{
    text-align: right;
    margin: 0;
    padding: 0;
    position: relative;
    top: 31px;
    right: 56px;
    font-family: 'Vast Shadow', cursive;
}
.btn-settings{
    position: absolute;
    top: 10px;
    right: 25px;
}
