<div class="row"><div id="alert-message"></div></div>
<form id="add-position-form" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputName" class="col-lg-4 control-label">Name</label>
        <div class="col-lg-7">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter name">
        </div>
        <label for="inputMiddlename" class="col-lg-4 control-label">Middle name</label>
        <div class="col-lg-7">
            <input type="text" name="name" class="form-control" id="inputMiddlename" placeholder="Enter middle name">
        </div>
        <label for="inputSurname" class="col-lg-4 control-label">Surname</label>
        <div class="col-lg-7">
             <input type="text" name="name" class="form-control" id="inputSurname" placeholder="Enter surname">
        </div>
        <label for="inputBirthday" class="col-lg-4 control-label">Birthday</label>
        <div class="col-lg-7">
             <input type="date" name="name" class="form-control" id="inputBirthday">
        </div>
        <label for="inputCity" class="col-lg-4 control-label">City</label>
        <div class="col-lg-7">
             <input type="text" name="name" class="form-control" id="inputCity" placeholder="Enter city">
        </div>
        <label for="inputPosition" class="col-lg-4 control-label">Position</label>
        <div class="col-lg-7">
            <input type="text" name="name" class="form-control" id="inputPosition" placeholder="Enter Position">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDepartment" class="col-lg-4 control-label">Department</label>
        <div class="col-lg-4">
            <select name="departments.id" class="form-control" id="inputDepartment" placeholder="Enter Department">
                <option value="1">Reserve</option>
                <option value="2">Логистика</option>
                <option value="3">Бухгалтерия</option>
                <option value="4">ОПП</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSkill" class="col-lg-4 control-label">Skills</label>
        <div class="col-lg-4">
            <select name="skill" class="form-control" id="inputSkill" placeholder="Enter Skills">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
            </select>
        </div>
    </div>
</form>