<script>
    var self = this;
    $('#grid').kendoGrid ({
        dataSource: {
            data: App.gridData,
            schema: {
                models: {
                    fields: {
                        id: { type: "number" },
                        department: { type: "string" },
                        pasition: { type: "string" },
                        name: { type: "string" },
                        middle_name: { type: "string" },
                        surname: { type: "string"},
                        birthday: { type: "date"},
                        city: { type: "string"},
                        salary: { type: "number"},
                        date: { type: "date"}
                    }
                }
            },
            pageSize: 20
        },
        height: 430,
        filterable: true,
        sortable: true,
        resizable: true,
        pageable: true,
        columns: [
            {
                field: "id",
                title: "ID",
                width: 7
            },
            {   field: "department",
                title: "Department",
                width: 30

            },
            {
                field: "pasition",
                title: "Position",
                width: 20
            },
            {
                field: "name",
                title: "Name",
                width: 25
            },
            {
                field: "middle_name",
                title: "Middle name",
                width: 30
            },
            {
                field: "surname",
                title: "Surname",
                width: 30
            },
            {
                field: "birthday",
                title: "Birthday",
                width: 25,
                template: function(item){
                    return new Date(item.date).toLocaleString();
                }

            },
            {
                field: "city",
                title: "City",
                width: 25
            },
            {
                field: "salary",
                title: "Salary",
                width: 20
            },
            {
                field: "date",
                title: "Start date",
                width: 25,
                template: function(item){
                    return new Date(item.date).toLocaleString();
                }
            },
            {
                width: 24,
                template:function(items){
                    return '<button type="button" data-id="' + items.id + '" ' +
                    'class="glyphicon glyphicon-edit btn btn-sm btn-info btn-edit-record">' +
                    '</button>' +
                    '&nbsp;' +
                    '<button data-id="' + items.id + '" type="button" ' +
                    'class="glyphicon glyphicon-remove btn btn-sm btn-danger btn-delete-item"></button>';
                }
            }
        ]
    });
</script>

