<div class="row"><div id="alert-message"></div></div>
<form id="add-edit-user-form" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputName" class="col-lg-4 control-label">Name</label>

        <div class="col-lg-7">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">E-mail</label>

        <div class="col-lg-7">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPosition" class="col-lg-4 control-label">Position</label>

        <div class="col-lg-7">
            <input type="text" name="position" class="form-control" id="inputPosition" placeholder="Enter full position name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputFilial" class="col-lg-4 control-label">Filial</label>

        <div class="col-lg-7">
            <input type="text" name="filial" class="form-control" id="inputFilial" placeholder="Enter full Filial name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputRole" class="col-lg-4 control-label">Role</label>
        <div class="col-lg-4">
            <select name="role" class="form-control" id="inputRole">
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-lg-4 control-label">Password</label>

        <div class="col-lg-7">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Set user's password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputConfirmPassword" class="col-lg-4 control-label">Confirm Password</label>

        <div class="col-lg-7">
            <input type="password" name="conf-password" class="form-control" id="inputConfirmPassword" placeholder="Confirm user's password">
        </div>
    </div>
</form>

