<div class="row"><div id="alert-message"></div></div>
<form id="add-position-form" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputName" class="col-lg-4 control-label">Name</label>

        <div class="col-lg-7">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputSkills" class="col-lg-4 control-label">Skills</label>

        <div class="col-lg-4">
            <select name="skills" class="form-control" id="inputSkills" placeholder="Enter skills level">
                <option value="trainee">Trainee</option>
                <option selected value="junior">Junior</option>
                <option value="intermediate">Intermediate</option>
                <option value="senior">Senior</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-lg-4 control-label">Description</label>

        <div class="col-lg-7">
            <textarea class="form-control" name="description" id="inputDescription" placeholder="Enter short description about position"></textarea>
        </div>
    </div>
</form>

