<script>
    var self = this;
    $("#grid").kendoGrid({
        dataSource: {
            data: App.gridData,
            schema: {
                models: {
                    fields: {
                        id: { type: "number" },
                        skills: { type: "number", validation: { required: true, min: 0, max: 3} },
                        description: { type: "string" },
                        name: { type: "string", validation: { required: true} }
                    }
                }
            },
            pageSize: 20
        },
        height: 430,
        filterable: true,
        sortable: true,
        pageable: true,
        columns: [
            {
                field: "name",
                title: "Position",
                width: 120
            },
            {
                field: "skills",
                title: "Skills",
                width: 80
            },
            {
                field: "description",
                title: "Description",
                width: 260
            },
            {
                width: 90,
                template:function(items){
                    return '<button id="edit-' + items.id + '" type="button" data-obj=\'' + JSON.stringify(items) + '\' ' +
                            'class="btn btn-sm btn-info btn-edit-record">' +
                            '<span class="glyphicon glyphicon-plus"></span>   Edit</button>' +
                            '&nbsp;' +
                            '<button data-id="' + items.id + '" type="button" ' +
                            'class="btn btn-sm btn-danger btn-delete-item">Delete</button>';

                }
            }
        ],
        editable: "inline"
    });
</script>
