<!--start content-->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-2">
            <div class="page-header">
                <h3>Sections</h3>
            </div>
            <nav class="main-menu">
                <ul class="nav nav stacked">
                    <li>
                        <a href="#staff" data-btn="staff" class="btn btn-primary btn-lg btn-block">Staff</a>
                    </li>
                    <li>
                        <a href="#departmant" data-btn="departmant" class="btn btn-primary btn-lg btn-block">Departments</a>
                    </li>
                    <li>
                        <a href="#positions" data-btn="positions" class="btn btn-primary btn-lg btn-block">Positions</a>
                    </li>
                </ul>
           </nav>
        </div>
        <div class="col-md-8 col-lg-10">
            <div class="page-header">
                <h3>HR department manager</h3>
            </div>

            <div class="row well">
                <h4 class="glyphicon glyphicon-filter filter-aria"> Filters</h4>

                <form role="form">
                    <div class="col-md-4 col-lg-3">
                        <input type="text" placeholder="Search by..." class="form-control">
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <input type="text" placeholder="Select date..." class="datepicker form-control">
                    </div>
                </form>
            </div>
            <div class="row list-container"></div>
        </div>
    </div>
</div>
<!--END content-->
