<!--start content-->
<div class="container main-page">
    <div class="row">
        <div>
            <h6 class="authorizedAs"></h6>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="page-header">
                <h3>Sections</h3>
            </div>
            <nav class="main-menu">
                <ul class="nav nav stacked">
                    <li>
                        <a href="#staff" data-btn="staff" class="btn btn-primary btn-lg btn-block">Staff</a>
                    </li>
                    <li>
                        <a href="#departmant" data-btn="departmant" class="btn btn-primary btn-lg btn-block">Departments</a>
                    </li>
                    <li>
                        <a href="#positions" data-btn="positions" class="btn btn-primary btn-lg btn-block">Positions</a>
                    </li>
                </ul>
           </nav>
        </div>
        <div class="col-md-8 col-lg-10">
            <div class="page-header">
                <h3>HR department manager</h3>
                <button type="button" title="Logout" class="btn btn-link glyphicon glyphicon-off btn-logout"></button>
            </div>
            <div class="row list-container"></div>
        </div>
    </div>
</div>
<!--END content-->
